.faceSelectList {
    display: flex;
    width: 355px;
    padding: 5px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
    .faceSelectOne {
        margin: 5px;
        position: relative;
        cursor: pointer;
        img {
            width: 32px;
            height: 32px;
            opacity: 0.9;
        }
        .imgbg {
            position: absolute;
            background: white;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
        }
        .imgbg:hover {
            opacity: 0.3;
        }
    }
}
.face {
    background: url(../../../assets/img/face/default/face.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_001.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_002.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_003.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_004.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_005.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_006.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_007.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_008.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_009.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_010.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_011.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_012.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_013.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_014.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_015.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_016.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_017.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_018.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_019.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_020.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_021.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_022.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_023.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_024.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_025.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_026.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_027.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_028.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_029.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_030.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_031.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_032.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_033.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_034.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_035.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_036.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_037.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_038.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_039.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_040.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_041.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_042.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_043.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_044.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_045.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_046.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_047.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_048.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_049.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_050.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_051.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_052.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_053.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_054.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_055.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_056.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_057.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_058.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_059.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_060.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_061.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_062.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_063.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_064.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_065.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_066.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_067.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_068.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_069.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_070.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_071.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_072.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_073.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_074.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_075.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_076.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_077.png)
}
.face {
    background: url(../../../assets/img/face/default/emotion_078.png)
}
