Entitys/bin/
FileManager/bin/
FileManagerHosting/bin/
Client/src/node_modules/
LoadManagement/bin/
LoadManagementHosting/bin/
LoadManagementModels/bin/
MessageManager/bin/
MessageManagerHosting/bin/
Entitys/obj/
FileManager/obj/
FileManagerHosting/obj/
LoadManagement/obj/
LoadManagementHosting/obj/
LoadManagementModels/obj/
MessageManager/obj/
MessageManagerHosting/obj/
packages/
WindowsService1/obj/
Client/nwjs/app/
